input[type="button"],
input[type="submit"],
input[type="reset"] {
    background: $button-bg-color;
    color: $button-font-color;
    cursor: $cursor;
    padding: $padding-button;
    margin: ($margin-base * 2) 0;
    border: $border;
    font-weight: $font-weight-x-bold;

    &:visited,
    &:hover {
        color: $button-bg-color;
        background: $button-font-color;
        @include transition(0.5s, ease-out, 0s);
    }
}
